.valign {
  display: table;
  width: 100%;
  height: 100%;

  .inner {
    vertical-align: middle;
    display: table-cell;

    &.bottom {
      vertical-align: bottom;
    }
  }
}

.bottom-nav{
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.5) !important;
}

.navbar{
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin-bottom: 12px;

    .username{
      color: #000;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
    }

    .nav-item{
        padding: 0 5px;

        .nav-link{
            padding: 6px 20px;
        }
    }

    .nav-link{
        @media screen and (max-width: 768px) {
            display: inline;
            padding: 0 12.5px;
        }
    }
    
    @media (min-width: 768px) {
        &.navbar-expand-lg{
            .navbar-collapse{
                display: flex !important;
                flex-basis: auto;
            }

            .navbar-nav{
                flex-direction: row;
            }
        }
    }
    @media (max-width: 767px) {
        &.navbar-expand-lg{
            .navbar-collapse{
                display: none !important;
                flex-basis: auto;
            }
        }
    }

    .vline{
        width: 1px;
        height: 44.5px;
        background-color: #BBB;
        margin-right: 11px;
        margin-left: 11px;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}

.btn-sultan{
    border: unset;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    transition: none;

    &:hover{
      text-decoration: none;
    }

    &.btn-sultan-primary{
        background-color: #E0BC1E;
        color: #FFF;
        &:hover{
            color: #FFF;
        }

        &.btn-shadow{
          box-shadow: 0 10px 25px 0 #E0BC1E;
        }
    }

    &.btn-sultan-primary-outline{
        background-color: #FFF;
        color: #E0BC1E;
        border: 1px solid #E0BC1E;
        &:hover{
            color: #E0BC1E;
        }
    }

    &.btn-sultan-secondary{
      background-color: #527E03;
      color: #fff;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
}

.title-404{
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  color: #000;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 16px;
    margin-top: 26px;
  }
}

.subtitle-404{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 38px;
  }
}

.theme-404{
  position: absolute;
  top: 0;
  left: 0;
}

.section-404{
  margin-top: 160px;
  @media screen and (max-width: 768px) {
    margin-top: 120px;
  }
}

.card{
  padding: 19px 45px;
  box-shadow: 0 2px 4px 0 #BBB;
}

.float-button{
  position: fixed;
  right: 35px;
  bottom: 35px;
  .float-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 5px 11px;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 #BBB;

    .text{
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      color: #527E03;
      padding-right: 22px;
      padding-left: 5px;
    }
  }
}

.footer{
  border-top: 1px solid #808080;
  padding: 27px 32px;
  .footer-link{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #527E03;
  }
}