.valign {
  display: table;
  width: 100%;
  height: 100%;

  .inner {
    vertical-align: middle;
    display: table-cell;

    &.bottom {
      vertical-align: bottom;
    }
  }
}

.bottom-nav{
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.5) !important;
}

.navbar{
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin-bottom: 12px;

    .username{
      color: #000;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
    }

    .dropdown-cart{
      width: 416px;
      height: 457px;
      padding: 16px;
      right: 0;
      left: unset;

      .scrollable-menu {
        height: auto;
        max-height: 300px;
        overflow-x: hidden;
        margin-bottom: 25px;
      }

      .text-sultan-info{
        @extend .text-sultan-secondary;
        font-size: 13px !important;
        line-height: 15px !important;
        color: #BBB !important;
      }

      .card-item{
        border: 1px solid #BBB;
        padding: 17px 12px;
        border-radius: 7px;
        margin-bottom: 15px;

        .text-subtitle{
          margin-bottom: 10px;
        }

        .text-sultan-secondary{
          font-size: 13px;
          line-height: 15px;
          margin-bottom: 21px;
        }

        .row-p{
          margin: auto -15px;
          > * {
            padding: 0 15px;
          }
        }

        .form-notes{
          padding: 4.5px 5.5px;
          border: none;
          border-bottom: 1px solid #BBB;
          font-size: 10px;
          &:focus {
            box-shadow: none;
          }    
        }

        .form-qty{
          text-align: center;
        }

        .btn-count{
          text-align: center;
          font-weight: bold;
          border-radius: 8px;
        }
      }

      .username{
        font-weight: 400;
        margin: 23px auto;
      }
    }

    .nav-item{
        padding: 0 5px;

        &.dropdown{
          &:hover{
            .dropdown-menu{
              display: block !important;
            }
          }
          a{
            padding: 5px;
            display: block;

            &.cart-icon{
              &:hover{
                background-color: #BBB;
                border-radius: 50%;
              }
            }
          }
        }
        .nav-link{
            padding: 6px 20px;
        }
    }

    .top-submenu{
      position: absolute;
      top: 0;
      right: 30px;
      display: flex;
      flex-direction: row;
      .item{
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        color: #527E03;
        margin-right: 12px;
      }
    }

    .navbar-nav{
      .nav-item{
        .nav-link{
          padding-right: 20px;
          padding-left: 20px;
        }
      }
    }

    .nav-link{
        @media screen and (max-width: 768px) {
            display: inline;
            padding: 0 12.5px;
        }
    }
    
    @media (min-width: 768px) {
        &.navbar-expand-lg{
            .navbar-collapse{
                display: flex !important;
                flex-basis: auto;
            }

            .navbar-nav{
                flex-direction: row;
            }
        }
    }
    @media (max-width: 767px) {
        &.navbar-expand-lg{
            .navbar-collapse{
                display: none !important;
                flex-basis: auto;
            }
        }
    }

    .vline{
        width: 1px;
        height: 44.5px;
        background-color: #BBB;
        margin-right: 11px;
        margin-left: 11px;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}

.btn-sultan{
    border: unset;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    transition: none;

    &:hover{
      text-decoration: none;
    }

    &.btn-sultan-disabled{
      background-color: #ADADAD !important;
    }

    &.btn-sultan-primary{
        background-color: #E0BC1E;
        color: #FFF;
        &:hover{
            color: #FFF;
        }

        &.btn-shadow{
          box-shadow: 0 10px 25px 0 #E0BC1E;
        }
    }

    &.btn-sultan-primary-outline{
        background-color: #FFF;
        color: #E0BC1E;
        border: 1px solid #E0BC1E;
        &:hover{
            color: #E0BC1E;
        }
    }

    &.btn-sultan-secondary{
      background-color: #527E03;
      color: #fff;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
}

.title-404{
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  color: #000;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 16px;
    margin-top: 26px;
  }
}

.subtitle-404{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 38px;
  }
}

.theme-404{
  position: absolute;
  top: 0;
  left: 0;
}

.section-404{
  margin-top: 160px;
  @media screen and (max-width: 768px) {
    margin-top: 120px;
  }
}

.card{
  padding: 19px 45px;
  box-shadow: 0 2px 4px 0 #BBB;
}

.float-button{
  position: fixed;
  right: 35px;
  bottom: 35px;
  .float-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 5px 11px;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 #BBB;

    .text{
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      color: #527E03;
      padding-right: 22px;
      padding-left: 5px;
    }
  }
}

.footer{
  border-top: 1px solid #808080;
  padding: 27px 32px;
  .footer-link{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #527E03;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0BC1E; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.text-title{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
}

.text-subtitle{
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #000
}

.text-sultan-secondary{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #527E03;
}

.custom-file-input {
  color: transparent;
  opacity: 1 !important;
  height: auto !important;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &::before {
    content: 'Upload File';
    color: black;
    display: inline-block;
    background: #DDD;
    border-radius: 5px;
    padding: 5px 28px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    &:hover{
      border-color: black;
    }
    &:active{
      outline: 0;
      &::before{
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }
    }
  } 
}