.valign {
  display: table;
  width: 100%;
  height: 100%;

  .inner {
    vertical-align: middle;
    display: table-cell;

    &.bottom {
      vertical-align: bottom;
    }
  }
}

.bottom-nav{
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.5) !important;
}