.title-register{
    font-size: 25px;
    line-height: 28px;
    color: #000;
    margin-bottom: 14px;
}

.label{
    font-size: 13px;
    line-height: 15px;

    &.text-secondary{
        color: #527E03 !important;
    }

    &.text-info{
        color: #A9A9A9 !important;
    }

    &.label-email{
        color: #000;
        font-weight: bold;
    }
}

.btn-sultan-primary{
    border-radius: 16px;
    font-size: 13px;
    line-height: 15px;
    padding: 9px 42px;
}

.hline{
    height: 1px;
    background-color: #808080;
    width: 70px;
}

.btn-sultan-secondary{
    width: 100%;
    text-align: center;
}

.card-login{
    width: 445px;
    padding: 19px;

    .row{
        margin-right: unset;
        margin-left: unset;

        .col{
            padding-left: unset;
            padding-right: unset;
        }

        .col-auto{
            padding-left: unset;
            padding-right: unset;
        }
    }

    .prepend-form{
        position: absolute;
        bottom: 43%;
        right: 15%;
    }
}

input[type=tel]{
    width: 34px;
    height: 34px;
}

.title-bar{
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
}

.navbar{
    box-shadow: none;
    background-color: #E0BC1E;
    padding-bottom: 31px;
    padding-top: 31px;
    .container{
        max-width: 455px;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.card-verify{
    width: 445px;
    @media screen and (max-width: 768px) {
        box-shadow: none !important;
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 0 !important;
        border: none !important;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.form-prepend {
    background-color: #ffffff;
    position: relative;
    border: 1px solid #BBB;
    width: 100%;
    margin-right: 7px;
    margin-bottom: unset;
    border-radius: 0.25rem;

    .prepend {
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 54px;
        right: 6px;
        left: unset;
        padding: 5px 17px;
        border-radius: 11px;
        top: 0;
        bottom: 0;

        img {
            height: 20px;
            margin-top: -2px;
        }
    }

    .form-control {
        background: none;
        border: none;
        height: calc(1.5em + 0.75rem + 2px);

        &.mega-form-control{
            padding: 0.375rem 0.75rem;
        }

        &:focus {
            box-shadow: none;
        }

        ::placeholder{
            color: #BBB;
            font-size: 13px;
            line-height: 15;
        }
    }
}

.card{
    &.card-choose-community{
        width: 776px;

        .btn-sultan{
            width: 352px;
            margin-top: 169px;
            @media screen and (max-width: 768px) {
                width: 100%
            }
        }

        .slick-slide{
            *{
                outline:none !important;
            }
        }

        .slick-prev, .slick-next{
            background-color: #FFF;
            border-radius: 100px;
            &::before{
                background-color: #FFF;
                color:#E0BC1E;
                border-radius: 100px;
            }
        }

        .card-item{
            border-radius: 13px;
            background-color: #FFF;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            padding: 5px 11px;
            
            > label{
                margin-bottom: 0;
            }
        }
    }
    @media screen and (max-width: 768px) {
        box-shadow: none !important;
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 0 !important;
        border: none !important;
        padding-right: 15px;
        padding-left: 15px;
    }
}