#content-home{
    margin-top: 120px;
    @media screen and (max-width: 768px) {
        margin-top: 75px;
    }
}

a{
    &:hover{
      text-decoration: none;
    }
}

.navbar{
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin-bottom: 12px;

    .nav-item{
        padding: 0 5px;

        .nav-link{
            padding: 6px 20px;
        }
    }

    .nav-link{
        @media screen and (max-width: 768px) {
            display: inline;
            padding: 0 12.5px;
        }
    }
    
    @media (min-width: 768px) {
        &.navbar-expand-lg{
            .navbar-collapse{
                display: flex !important;
                flex-basis: auto;
            }

            .navbar-nav{
                flex-direction: row;
            }
        }
    }
    @media (max-width: 767px) {
        &.navbar-expand-lg{
            .navbar-collapse{
                display: none !important;
                flex-basis: auto;
            }
        }
    }
}

.btn-sultan{
    border: unset;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    transition: none;

    &.btn-sultan-primary{
        background-color: #E0BC1E;
        color: #FFF;
        &:hover{
            color: #FFF;
        }
    }

    &.btn-sultan-primary-outline{
        background-color: #FFF;
        color: #E0BC1E;
        border: 1px solid #E0BC1E;
        &:hover{
            color: #E0BC1E;
        }
    }
}

.vline{
    width: 1px;
    height: 44.5px;
    background-color: #BBB;
    margin-right: 11px;
    margin-left: 11px;
    @media screen and (max-width: 768px){
        display: none;
    }
}

.slick-slider{
    margin-bottom: 27px;
    
    .slick-arrow{
        display: none !important;
    }

    .slick-slide{
        padding: 0 20px;
        @media screen and (max-width: 768px) {
            padding: unset;
        }
    }
    
    .slick-dots{
        bottom: 10px;
        @media screen and (max-width: 768px) {
            bottom: 0;
        }
        li{
            margin: 0;
            &.slick-active{
                button{
                    &::before{
                        background-color: #E1BD1F;
                        opacity: 1;
                    }
                }
            }
            button{
                width: 10px;
                height: 10px;
                &::before{
                    content: '';
                    border-radius: 50%;
                    background-color: #C8C8C8;
                    width: 10px;
                    height: 10px;
                    opacity: 1;

                    @media screen and (max-width: 768px) {
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
    }
}

.title{
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    margin-bottom: 15px;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 15px;
    }
}

.link-more{
    font-weight: 400;
    line-height: 18px;
    font-size: 16px;
    color: #527E03;
    padding-right: 4px;

    &:hover{
        text-decoration: none;
        color: #527E03;
    }

    @media screen and (max-width: 768px){
        font-size: 12px;
        line-height: 13px;
        padding-right: unset;
    }
}

.card{
    &.card-komunitas{
        padding: 5px 15px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        border-radius: 13px;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
            box-shadow: none;
            border: 1px solid #BDBDBD;
            padding: 10px;
            margin-bottom: 17px;

            .row{
                .col-auto{
                    padding-right: 2.5px;
                }
                .col{
                    padding-left: 2.5px;
                }
            }
        }

        .title{
            font-weight: bold;
            font-size: 13px;
            line-height: 15px;
            color: #000;
            margin-bottom: 5px;

            @media screen and (max-width: 768px) {
                font-size: 12px;
                line-height: 13px;
                text-align: center;
            }
        }

        .count{
            @extend .title;
            color: #9D9D9D
        }
    }

    &.card-category{
        @extend .card-komunitas;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 38px;

        @media screen and (max-width: 768px) {
            padding: 6px 0;
            margin-bottom: 22px;
            border-radius: 7px;
        }

        .title{
            @extend .title;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 0;
            text-align: center;
            @media screen and (max-width: 768px) {
                font-size: 10px;
                line-height: 11px;
                font-weight: 400;
            }
        }
    }

    &.card-product{
        padding: 7px;
        border: 1px solid #BDBDBD;
        border-radius: 7px;
        margin-bottom: 28px;
        padding-bottom: 10px;

        @media screen and (max-width: 768px) {
            img{
                width: 100%;
            }
            padding: 5px;
            margin-bottom: 20px;
        }

        .image{
            margin-bottom: 13px;
            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        .title{
            color: #4C4C4C;
            font-size: 15px;
            font-weight: bold;
            line-height: 17px;
            margin-bottom: 10px;
        }

        .price{
            @extend .title;
            font-weight: 400;
            color: #527E03;
            margin-bottom: 5px;
            font-size: 13px;
            line-height: 15px;
        }

        .location{
            @extend .price;
            color: #4C4C4C;
            margin-bottom: 5px;
        }

        .rating-row{
            margin: auto -3px;
            > * {
                padding: 0 3px;
            }
        }

        .rating-count{
            color: #ADADAD;
            font-size: 13px;
            line-height: 15px;
        }

        .badge-community{
            position: absolute;
            border-radius: 7px;
            padding: 5px;
            background-image: linear-gradient(to right, #00008C 0%, #CC1010 100%);
            color: #FFF;
            font-weight: bold;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            width: 82px;
            margin-left: auto;
            right: 8px;
            top: 55%;
            
            @media screen and (max-width: 768px){
                border-radius: 100px;
                font-size: 10px;
                font-weight: 400;
                line-height: 11px;
                top: 53%;
                padding: 1px 13px;
                width: unset;
            }
        }
    }
}

#section-toko-promo{
    margin-bottom: 7px;
    
    img{
        width: 100%;
    }
}

.row-p{
    margin: auto -10px;
    > * {
        padding: 0 10px;
        width: 20%;
    }
}

.btn-seemore{
    border-radius: 3px;
    border: 1px solid #527E03;
    padding: 0px 55px;
    margin-bottom: 46px;
    
    @media screen and (max-width: 768px) {
        border: none;
        margin-bottom: 15px;
    }
}

#section-komunitas{
    @media screen and (max-width: 768px) {
        .row-p{
            margin: auto -2.5px !important;
            > * {
                padding: 0 2.5px !important;
            }
        }
    }
}